<div class="content" role="main">
  <form #form="ngForm" (ngSubmit)="login(form)">   

    <app-email  (emailValue)='getemail($event)'></app-email>
    <app-password (passValue)='getpassword($event)'></app-password>
    <app-button></app-button>
    
    </form>
  
</div>