<div class="key">
    <div class="container">
        <h2>Key Features</h2>
        <div class="row">
            <div class="col-sm">
                <img class="bnimg" src="/assets/images/technical security.png" />
                <h4>Technical security</h4>
                <p>
                    simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                </p>
            </div>
            <div class="col-sm">
                <img class="bnimg" src="/assets/images/data security.png" />
                <h4>Data security</h4>
                <p>
                    simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                </p>

            </div>
            <div class="col-sm">
                <img class="bnimg" src="/assets/images/identity theft.png" />
                <h4>Identity Theft Prevention</h4>
                <p>
                    simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever since the 1500s.
                </p>

            </div>

        </div>
    </div>
</div>