.key {
    float: left;
    width: 100%;
    top: 70%;
    position: absolute;
    padding-bottom: 23%;
}

.key h2{
    text-align: center;
    padding-bottom: 2%;
}
.key .col-sm{
    text-align: center;
}
