
<div class="form-group">
    <label for="Password">Password</label>
    <input #password type="password" name="password" ngModel required class="form-control" id="password" (blur)="valueChanged(password.value)">
  </div>

