<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="incol">
                    <h1>Designed by </h1><h1>Indian Engineers</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                        <button type="button" class="mybt btn btn-primary btn-lg"> Feature</button>
                </div>
            </div>
            <div class="col-sm">
                <img class="bnimg" src="/assets/images/banner_illustration.png" />
            </div>
        </div>
    </div>

</div>