.bg{
    float: left;
    background-color: #1976d2;
    position: relative;
    top: 60px;
    width: 100%;
    color: #fff;
    min-height: 350px;
}

.incol {
    padding-top: 8%;
}
.mybt {
    background-color:#e4e418;
    border-radius: 16px;
    width: 157px;
}
.bnimg{
    width: 500px;
}