<div class="form-group">
    <label for="email">Email </label>
    <input #email type="email" name="email" ngModel required class="form-control" id="email" (blur)="valueChanged(email.value)">
  </div>
  
